<!DOCTYPE html>
<html>

<head>

<title>Case Guide India</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

<div class="container">

<a class="navbar-brand" href="/">⚖️ Case Guide India</a>

<div>

<a class="nav-link d-inline text-white" href="/">Home</a>
<a class="nav-link d-inline text-white" href="/guidance_page">Guidance</a>
<a class="nav-link d-inline text-white" href="/query_page">Ask Query</a>
<a class="nav-link d-inline text-white" href="/Dashboard">Dashboard</a>
<a class="nav-link d-inline text-white" href="/chat_page">Chatbot</a>
<a class="nav-link d-inline text-white" href="/feedback_page">feedback</a>

</div>

</div>

</nav>

<div class="container mt-4">

{% block content %}

{% endblock %}

</div>

</body>
</html>